*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: sans-serif;
}

body > header{
    height: 10rem;
    display: flex;
    background-color: #111111;
    align-items: center;
    margin-bottom: 6rem;
}

body > header > .zonnehuisText{
    color: white;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

body > footer > p{
    color: white;
}

body > header > img{
    display: flex;
    width: 6.4rem;
    height: 6.4rem;
    align-items: center;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

body > article{
    padding-top: 2vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

body > article > .bodyTitle0, .bodyTitle1, .bodyTitle2{
    font-size: 3.2rem;
    display: flex;
    justify-content: left;
    margin-top: 2rem;
    border-bottom: 1px solid #111111;
    margin-bottom: 4rem;
    padding-bottom: 0.2rem;
    padding-left: 4rem;
}

body > article > .bodyTitle1, .bodyTitle2{
    margin-top: 16rem;
}

body > article > div {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 24rem;
    border: 2px solid #111111;
    border-radius: 5px;
    height: 32rem;
    margin-left: 4rem;
    margin-top: 0.8rem;
    margin-right: 4.8rem;
}

div > img {
    width: 16rem;
    height: 16rem;
    margin-bottom: 3.4rem;
    margin-top: 2rem;
}

div > span {
    display: block;
    font-size: 3.2rem;
}