*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: sans-serif;
}

body > header, footer{
    height: 10rem;
    display: flex;
    background-color: #111111;
    align-items: center;
}

body > header > .zonnehuisText{
    color: white;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

body > footer > p{
    color: white;
}

body > header > img{
    display: flex;
    width: 6.4rem;
    height: 6.4rem;
    align-items: center;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

body > article{
    padding: 2rem;
}

body > article > .bodyTitle{
    font-size: 3.2rem;
    display: flex;
    justify-content: left;
    margin-top: 2rem;
    border-bottom: 1px solid #111111;
    margin-bottom: 4rem;
}

body > article > div {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 10rem;
    border: 2px solid #111111;
    border-radius: 5px;
    height: 20.1rem;
    margin-right: 2rem;
}

div > img {
    width: 8rem;
    height: 8rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

div > span {
    display: block;
    font-size: 2.8rem;
}